
    @font-face {
        font-family: 'PF Handbook Pro';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProRegular.woff?raw=true');
        }
    
        @font-face {
            font-family: "PF Encore Sans Pro";
            font-style: normal;
            font-weight: normal;
            src: url("https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFEncoreSansPro-Reg.otf?raw=true");
          }
                  
    
        @font-face {
        font-family: 'PF Handbook Pro Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProItalic.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Extra Thin';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProExtraThin.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Extra Thin Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProExtraThinItalic.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Thin';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProThin.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Thin Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProThinItalic.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Medium Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProMediumItalic.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Bold';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProBold.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Bold Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProBoldItalic.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Black';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProBlack.woff?raw=true');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Black Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://github.com/Rohan704/flowxpert/blob/main/Fonts/PFHandbookProBlackItalic.woff?raw=true');
        }
    
    