
    @font-face {
        font-family: 'PF Handbook Pro';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProRegular.woff');
        }
    
        @font-face {
            font-family: "PF Encore Sans Pro";
            font-style: normal;
            font-weight: normal;
            src: url("https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFEncoreSansPro-Reg.otf");
          }
                  
    
        @font-face {
        font-family: 'PF Handbook Pro Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProItalic.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Extra Thin';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProExtraThin.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Extra Thin Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProExtraThinItalic.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Thin';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProThin.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Thin Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProThinItalic.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Medium Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProMediumItalic.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Bold';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProBold.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Bold Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProBoldItalic.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Black';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProBlack.woff');
        }
        
    
        @font-face {
        font-family: 'PF Handbook Pro Black Italic';
        font-style: normal;
        font-weight: normal;
        src: url('https://abhiazprodcdn.blob.core.windows.net/prodcdnblob/Fonts/PFHandbookProBlackItalic.woff');
        }
    
    